- name: "installing python3 for ansible"
  raw: "apt update && apt install -y python3-minimal"
  when: "'debian' in target_os or 'ubuntu' in target_os"

- name: gathering facts
  ansible.builtin.setup:
    gather_subset:
      - "distribution"
      - "network"

- include_tasks: "prepare-{{ ansible_os_family }}.yml"

- name: "configuring bash"
  lineinfile:
    dest: "/root/.bashrc"
    insertafter: "EOF"
    line: "{{ item }}"
  with_items:
    - ". /etc/bash_completion.d/ganeti"
    - 'export PS1="\e[100mCluster={{ cluster_ip }} Ganeti={{ _versions_string }} OS={{ target_os }} build={{ hostvars["build"].ansible_ssh_host }} id={{ build_id}}\e[49m\n${PS1}"'

- name: "mounting src/build tree"    
  mount:
    src: "{{ hostvars['build']['ansible_ssh_host'] }}:/tmp/{{ build_id }}"
    path: "/tmp/{{ build_id }}"
    fstype: "nfs"
    opts: "ro"
    state: "mounted"

- include_tasks: "rdep-{{ ansible_os_family }}.yml"

- name: "installing Ganeti"
  command:
    chdir: "/tmp/{{ build_id }}/{{ _versions_list_make_frindly[0] }}"
    cmd: "make install"
    creates: "/usr/local/sbin/gnt-cluster"

- name: "setting up auxilary files"
  command:
    cmd: "install -D -m {{ item.mode }} -o root -g root /tmp/{{ build_id }}/{{ _versions_list_make_frindly[0] }}/doc/examples/{{ item.src }} {{ item.dest }}"
    creates: "{{ item.dest }}"
  with_items:
    - { src: "bash_completion",  dest: "/etc/bash_completion.d/ganeti", mode: "0644" }
    - { src: "ganeti.cron",  dest: "/etc/cron.d/ganeti", mode: "0755" }
    - { src: "ganeti.default",  dest: "/etc/default/ganeti", mode: "0644" }
    - { src: "ganeti.initd",  dest: "/etc/init.d/ganeti", mode: "0755" }
    - { src: "ganeti.logrotate",  dest: "/etc/logrotate.d/ganeti", mode: "0644" }

- name: "config file for file storage pathes"
  copy:
    dest: "/etc/ganeti/file-storage-paths"
    content: |
      /srv/ganeti/file-storage
      /srv/ganeti/shared-file-storage/{{ build_id }}

# SysV
- name: "enabling Ganeti serivce"
  service:
    name: "ganeti"
    enabled: "yes"
  when: ansible_os_family == 'Debian'

- name: "creating Ganeti service users"
  command:
    cmd: "/tmp/{{ build_id }}/{{ _versions_list_make_frindly[0] }}/tools/users-setup --yes-do-it"

- name: "creating .ssh-dir"
  file:
    path: "/root/.ssh"
    mode: "0700"
    state: "directory"

- name: "installing cluster ssh key pair"
  copy:
    src: "/tmp/{{ build_id }}/{{ item.src }}"
    dest: "/root/.ssh/{{ item.src }}"
    mode: "{{ item.mode | default('0644') }}"
  with_items:
    - { src: "id_ecdsa", mode: "0600" }
    - { src: "id_ecdsa.pub", }

- name: "appending ssh key to authorized_keys"
  ansible.posix.authorized_key:
    user: root
    key: "{{ lookup('file', '/tmp/' + build_id + '/id_ecdsa.pub') }}"
    comment: ganeti-test-bed

- name: "ensure nodes can be resolved"
  lineinfile:
    dest: "/etc/hosts"
    regex: "^{{ ip }}"
    line: "{{ ip }}\t{{ item }}.{{ build_id }}.{{ fqdn_suffix }} {{ item }}"
  vars:
    ip: "{{ hostvars[item]['ansible_ssh_host'] }}"
  with_items:
    - "{{ play_hosts }}"

- name: "ensure cluster can be resolved"
  lineinfile:
    dest: "/etc/hosts"
    regex: "^{{ cluster_ip }}"
    line: "{{ cluster_ip }}\tcluster.{{ build_id }}.{{ fqdn_suffix }} cluster"

- name: "creating LVM group gnt"
  lvg:
    vg: "ganeti"
    pvs: "/dev/vdb"

- name: "setting DRBD kernel parameters"
  copy:
    dest: "/etc/modprobe.d/ganeti.conf"
    content: "options drbd minor_count=128 usermode_helper=/bin/true"
  register: drbd_param

- name: "automaticly load DRBD at boot"
  copy:
    dest: "/etc/modules-load.d/ganeti.conf"
    content: "drbd"

- name: "loading DRBD modul"
  command: "modprobe drbd minor_count=128 usermode_helper=/bin/true"
  when: drbd_param is changed

- name: "mounting sharedfile NFS"    
  mount:
    src: "{{ nfs_sharedfile }}"
    path: "/srv/ganeti/shared-file-storage"
    fstype: "nfs"
    opts: "rw,vers=3"
    state: "mounted"
  when: nfs_sharedfile is defined

- name: "mounting OSI NFS"    
  mount:
    src: "{{ nfs_share_osi }}"
    path: "/srv/ganeti/os"
    fstype: "nfs"
    opts: "ro"
    state: "mounted"
  when: nfs_share_osi is defined

- name: "mounting images NFS"    
  mount:
    src: "{{ nfs_share_images }}"
    path: "/srv/ganeti/images"
    fstype: "nfs"
    opts: "ro"
    state: "mounted"
  when: nfs_share_images is defined

- name: "installing dependencies of the guestfish OSI"
  package:
    name:
      - "jq"
      - "{{ guestfs_tools[ansible_os_family] }}"
    state: "present"
  environment:
    LD_PRELOAD: /usr/lib/x86_64-linux-gnu/libeatmydata.so
    http_proxy: "{{ http_proxy | default(None) }}"
    https_proxy: "{{ https_proxy | default(None) }}"

  when: "'guestfish' in instance_osi"
  vars:
    guestfs_tools:
      Debian: libguestfs-tools
      Suse: guestfs-tools

- name: "installing the noop OSI"
  apt:
    name: "ganeti-os-noop"
    state: "present"
  environment:
    LD_PRELOAD: /usr/lib/x86_64-linux-gnu/libeatmydata.so
  when: ansible_os_family == 'Debian'

- name: "creating file disk template path"
  file:
    path: "/srv/ganeti/file-storage"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0700"

- include_tasks: "bridge-{{ ansible_os_family }}.yml"

- name: "rebooting to activate network changes"
  reboot:
  when: eni is changed

- name: "creating running version symlink"
  file:
    src: "/tmp/{{ build_id }}/{{ _versions_list_make_frindly[0] }}"
    dest: "/tmp/running"
    state: "link"

- name: "creating upgrade version symlink"
  file:
    src: "/tmp/{{ build_id }}/{{ _versions_list_make_frindly[1] }}"
    dest: "/tmp/upgrade"
    state: "link"
  when: _versions_list_make_frindly | count == 2
